[2013-06-14 15:02] howejacob1 opened #1 "Cannot do "python setup.py install" when in the same directory as setup.py"
This is because of the line chdir(dirname(**file**)). Since dirname(**file**) returns "" when in the same directory as setup.py, chdir takes "" and thus throws an exception.
Correct me if I'm wrong.

[2013-06-17 18:10] SEWilco opened #2 "No installation nor usage instructions"
There are no instructions on how to install nor use this. That will be particularly awkward for people unfamiliar with dOxygen filters.

[2013-06-19 22:23] #1 closed, assigned to Feneric

[2013-06-25 15:42] rockg opened #3 "@fn tag removes prior commands"
It seems that the @fn tag to detect a function removes prior tags in that comment block.  I think the @fn can just be removed per the doxygen documentation:

"This command is only needed if a comment block is not placed in front (or behind) the function declaration or definition...If your comment block is in front of the function declaration or definition this command can (and to avoid redundancy

[2013-07-04 18:25] #3 closed, assigned to Feneric

[2013-07-05 08:17] ofouillo opened #4 "Issue with class attributes interpretation"
Following previous comment I did about class attributes translation into doxygen format, you have update @param inti @var.
Unfortunately the fix is not so easy....
The syntax is different and the location of the comments is different as well.
Actually you have:
## @brief desc.....
#
# @var var1 desc1...
# @var var2 desc2...
#

class myClass:
    ...

But the syntax for doxygen is:
## @brief desc..

[2013-07-11 13:44] rockg opened #5 "Single line regular expressions are too forgiving"
The single line regular expressions match too many words.  For example, the file regex, ^(\s_File:?\s_)(.*)$, matches filename, File, file, etc.  Having any of these words at the beginning of a comment block for a method, for example, causes the doxypypy script to fail.  A similar thing happens with date.  If a method brief description starts the word "date", it is treated as a "@date" tag rather

[2013-07-20 08:39] kenneth-j-hill opened #6 "Any hope for Python 3 support?"
This looks great, but chokes on Python 3, are you planning on a port?  Thanks for doing this!

UPDATE: I ran doxypypy.py through the utility 2to3 that comes with Python3, and it seems to work just fine!  I haven't done thorough testing yet, but it is reporting my undocumented entities correctly as far as I can tell.

UPDATE #2: Running 2to3 stops doxypypy from crashing, but it doesn't seem to gene

[2013-07-22 00:45] #5 closed, assigned to nobody

[2013-07-24 15:19] aherrmann opened #7 "Feature request: `See also:` section"
Hi,

I recently gave doxypypy a try and noticed, that `See also:` sections are ignored. Doxygen has a `@sa` [command](http://www.stack.nl/~dimitri/doxygen/manual/commands.html#cmdsa) that will render a **See also** section with links to the mentioned functions. Could you please add this section to doxypypy? In my mind it should support the following syntax.

[code]

Maybe also the following.

[cod

[2013-07-24 16:21] aherrmann opened #8 "Issue with raw docstrings"
Hi,

I don't mean to flood you, =) but I also have an issue with raw docstrings.

I'm using doxygen's [maths capabilities](http://www.stack.nl/~dimitri/doxygen/manual/formulas.html) to document what my maths functions are doing. These are generally quite complicated TeX expressions.

TeX maths contain a lot of backslashes, e.g. `\sqrt`, `\frac`, `\int`, etc. However, since docstrings are regular p

[2013-07-25 00:43] #4 closed, assigned to Feneric

[2013-07-26 10:30] #8 closed, assigned to Feneric

[2013-08-06 10:03] #6 closed, assigned to nobody

[2013-08-12 20:10] heather625 opened #11 "Question concerning module-level docstrings"
A question!  I've recently tried doxypypy in conjunction with python 2.7.2 and Doxygen 1.7.6.1.  I seem to be having a hard time getting module docstrings to be processed - unless I use a doxygen tag like @brief in the comment.  At the function or class level things seem fine.  Does any one else have similar issues?

[2013-08-12 21:22] #7 closed, assigned to nobody

[2013-11-23 18:22] npoirey opened #12 "Is it possible to specify the expected type of a parameter?"
Hello,
I'm new to python and I've been trying to use doxygen with doxypypy.

So far, it works as I expected, but i wonder if there is a way to show the expected type of an incoming parameter or return value so that it's correctly interpreted by doxygen afterward ?

Thank you

[2013-12-06 08:21] toddmowen opened #13 "Underscored local variables mistaken for class members"
doxypypy seems to treat any variable that beings with a single or double underscore as being a class member, and marks it with a `@var` comment, even when it is merely a local variable. For example this input:

[code]

Is filtered into:

[code]

This in turn results in doxygen warning that the documented symbol was "not declared or defined".

In my case, there were only a handful of such issues in

[2014-02-11 00:12] kenneth-j-hill opened #14 "Strange @code ... @endcode generation"
I'm using the Python3 version of doxypypy and have noticed strange behavior with the generation of `@code` and `@endcode` tags.  Here are some examples.

Notice the extra `@endcode`:

[code]

This code was generated from:

[code]

Here's another example.  Notice that the `@endcode` is completely missing from this case, and in fact this isn't a code sample at all:

[code]

This was generated from

[2014-08-15 20:06] jvia opened #17 "Module-Level Docstrings Pushed Down into Function Docstring"
I'm currently running into an issue with module-level docstrings as
well. Using the code-snippet below, the module-level docstring
replaces the documentation for the foo function.

If I through an import between the the module-level docstring and then
the foo function, it works almost as expected. The foo function is
correctly documented but the module-level docstring does not show up
in the Doxyg

[2014-09-05 23:33] uSpike opened #18 "Class @property"
In a class,

<pre>
class foo:
""" My awesome class """

    @property
    def thing(self):
        """ Important property """
        pass
</pre>

is not parsed as a property of the class.  It is simply shown as a public method of the class.

Output from doxypypy:

<pre>
## @brief  My awesome class
class foo:

    ## @brief  Important property
    @property
    def thing(self):
        pass
</pre>

[2014-11-18 23:13] quantheory opened #19 "Unfortunate interaction between doxypypy and Doxygen markdown support"
Take a look at the following block.

[code]

This is converted by doxypypy to:

[code]

Since most of the indentation is kept on "More about Foo method." that line is treated as a code block if MARKDOWN_SUPPORT=YES (at least in Doxygen 1.8.5). This will happen only if some part of the comment block (in this case the `@param`) is indented far enough to the left that the relative difference in inden

[2014-12-08 14:35] Alcolo47 opened #20 "from import syntax"
My project:

    A/__init.py
    A/mod.py: def f(): pass
    B/__init__.py
    B/mod.py: def f(): pass

main.py:

    from B.mod import f
    def main():
        f()

doxygen see that main.main calls A.f()

There is a way to have a correct call graph ?

Note:
doxygen dosen't understand the 1 line syntax:

    def main(): f()

[2015-01-17 16:30] Feneric commented on #20
I'd welcome a patch that doesn't break anything else, but I don't think this is an easy fix and it's one I won't be investigating. Making any language work with an automated documentation system is a "meet in the middle" situation between the tool and the programmer. The tool will make good faith efforts to parse everything properly and produce reasonable results, but the programmer also has to no

[2015-01-17 16:30] #20 closed

[2015-01-17 16:32] Feneric commented on #19
Hmmm... I think a much earlier version of doxypypy did strip out the indentation there and it was deliberately put back in due to some other unfortunate interaction. I'll have to take a look.

[2015-02-16 10:17] Alcolo47 commented on #20
The main problem is not the single line syntax, it was just a remark. I'm writing the mod.py files like that only to post this issue, You can write them like you want.

The problem is that doxypypy doesn't associate the 'f' symbol to the correct function: B.f (doxypypy tells that main calls A.f)

[2015-05-01 15:33] raabf commented on #12
If I understand that right doxygen will always try to get the type from the function signature, so manually specifying is not possible.
Hopefully they will [implement the Function Annotations like requested](https://bugzilla.gnome.org/show_bug.cgi?id=748758) to have the ability to document the type.

[2015-05-01 15:48] raabf opened #21 "`@protected` and `@private` will be ignored"
Actually you add the `@protected` and `@private` commands if the function has an single underscore `_` respectively double underscore `__`.
The interpretation of the underscores is correct but [doxygen will ignore them](http://www.stack.nl/~dimitri/doxygen/manual/commands.html#cmdprotected) if the language is object-oriented:

(same for private)

doxygen actually mark everything as private which b

[2015-05-20 20:30] Feneric commented on #2
Finally got around to uploading it to the Cheese Shop...

[2015-09-18 07:57] pepr opened #22 "Crash on the correct Python 3 script with `Syntax error`"
Hi and thanks for the filter. I have started the asciidoc porting to Python 3, and I have used Doxygen to get a big picture. The script was converted with `2to3`. The syntax error is reported for the  `print(line, file=f)` (which is not what is normally used, in my opinion, anyway):

    Generating code for file asciidoc3.py...
    Traceback (most recent call last):
      File "C:\Python27\lib\run

[2015-09-18 11:54] Feneric commented on #22
It looks like you were running doxypypy under Python 2 for Python 3 code. Please try it again running doxypypy under Python 3. Just use your favorite Python package manager to install it for Python 3 and tell Doxygen to use that version.

Since doxypypy uses the Python interpreter to figure out Python code, running it under Python 2 for Python 3 code isn't supported.

[2015-09-18 12:43] pepr commented on #22
You are right. I am using it on Window (that is clear from the error message). When installing doxypypy (and using the Python Launcher for Windows), I just typed `setup install`. Because of the `#!/usr/bin/env python` inside, Python 2 was lauched and it was installed (in my case) into `C:\Python27`. My second mistake was to use to use `py -m doxypypy.doxypypy -a -c %1` in my `doxypy_filter.bat`. T

[2015-09-18 12:51] Feneric commented on #22
Excellent news, thank you. It's probably something we should add to the documentation. It's important to run doxypypy with the version of Python used by the source being analyzed.

[2015-09-18 12:51] #22 closed

[2015-09-19 21:27] pepr opened #23 "How to document class-instance variables?"
I am working on an older project that documents classes like this:

    class Version:
        """
        Parse and compare AsciiDoc version numbers.

        Instance attributes:
            string: String version number 'major.minor[.micro][suffix]'.
            major:  Integer major version number.
            minor:  Integer minor version number.
            micro:  Integer micro version numb

[2015-12-26 16:22] jonathan-lp opened #25 "SyntaxError exception for UTF-8-BOM files"
Using Python 3.5, and doxypypy  0.8.8.6 if I run the suggested py_filter.bat file against a python file that's in UTF-8-BOM, then doxypypy raises an exception (as below).

Even happens with a completely empty file, so I guess it's balking at the Unicode header.
ANSI files work fine.

[code]

[2016-01-04 21:01] Feneric commented on #25
Yep, sounds like it. I'll take a look.

[2016-01-04 21:14] Feneric commented on #23
So are you asking to add something like Public Attributes to doxypypy or if there's a good way to ignore them?

Maybe. I'm not sure offhand what Doxygen would do with them if we escaped them and passed them along.

[2016-01-16 19:02] Feneric commented on #25
Fixed.

[2016-01-16 19:02] #25 closed

[2016-03-19 19:21] DevynCJohnson opened #27 ""Definition at line" does not work correctly"
I am using your doxypypy filter (thanks for this filter) with my Doxygen documentation for my PyBooster project (here on GitHub). However, when I click "Definition at line 883", I am taken to the page containing the src, but I am not taken to the line specified. The URL does show the parameter for the line (basic_8py_source.html#l00883). The "Definition at line XXX" works with the documentation of

[2016-03-19 19:26] DevynCJohnson commented on #27
After further investigation, I noticed that it does work for some functions. Specifically, this fails to work properly with functions using Type-Hints ([PEP0484](https://www.python.org/dev/peps/pep-0484/)).

Example of a function using Type-Hints:
`def getwebpage(_address: str) -> str:`

[2016-03-23 17:53] Feneric commented on #27
Getting an exact match of line numbers is likely never to work without some additional support from Doxygen. The doxypypy filter changes Python source, adding Doxygen tags where necessary to communicate intent to Doxygen. It minimizes changing line count, but cannot eliminate it 100% of the time. Doxygen doesn't have the facility for a filter to provide an "original line number" tag or the like, s

[2016-03-24 12:41] hellfleck opened #28 "doxygen keywords as parameters"
I liked the human-readable docstring example and tried it with an argument called "date" when I came across an oddity

example in Python

Args:
    arg1: some argument
    date: another argument
    arg2: yet another argument

doxypypy output

#    Args:
#        arg1: some argument
#        date: another argument
#        arg2: yet another argument

and the doygen output looks like this

Paramete

[2016-03-25 17:02] DevynCJohnson commented on #27
Okay. Thanks anyway.

[2016-03-25 17:02] #27 closed

[2016-06-01 22:48] ochurlaud commented on #14
[code]

[2016-07-03 17:38] overlord624 opened #30 "Multiline docstring blocks not correctly stripped with INLINE_SOURCES"
When filtering multiline docstrings, the line containing the terminating sequence (""") is included in the generated code fragments from the Doxygen option INLINE_SOURCES. This results in incorrect syntax highlighting.

For example:
[code]

Will output the following code with the documentation of the function
[code]

[2016-07-07 19:07] Feneric commented on #28
Thanks, that's probably a good idea. Have you looked for possible side-effects?

[2016-07-07 19:09] Feneric commented on #21
Yeah, over the years a few other similar issues have been raised but there's not too much we can do about them. Our policy has been to make doxypypy send the best data that it can even knowing it may be ignored by the current version of Doxygen. If at some point that data gets considered we'll be ready.

[2016-07-26 19:39] rmcfatter opened #31 ""cls" parameter not recognized on class methods"
For a PEP-8 compliant class method definition:

`@classmethod`
`def sample(cls, param):`

Doxygen will complain (after doxypypy filtering) that "cls" wasn't documented.  This should be treated the same way that "self" is for instance methods.

I notice in sample.py that the sample classmethod definition uses "self" in place of "cls", which is a violation of PEP-8.

[2016-07-26 19:41] Feneric commented on #31
Good catch.

[2016-07-26 22:48] ochurlaud opened #32 "In @code balises, output is parsed"
I have a

[code]

And this is rended with `key1 <tab> value1`. But this should not be parsed and interpreted.

Also, comments such as `` are removed if only indented with 4 spaces (without the `@code` envirnoment.

[2016-07-26 22:49] ochurlaud commented on #32
This is used by the KDE community in https://api.kde.org/frameworks/kapidox/html/index.html : you can see what looks strange.

[2016-07-26 23:03] ochurlaud opened #33 "Documentation of the modules"
To document a module (as a namespace) I need to write in the file:

[code]

I would like to be able to write only docstrings and that they are directly translated (as in your examples). The best would be not to rewrite `@package` but I can live with it. So basically

[code]

Oh, and I'm using Python3

[2016-08-18 18:41] rmcfatter opened #34 "Example for "Raises:" (@exception) doesn't link exception class"
I've been using a syntax for documenting exceptions that looks like:

    Raises:
        SomeException: Something bad happened.

This works correctly in that SomeException becomes a link to the exception class' documentation.
The example syntax, though, has just the exception name followed immediately by a period, which won't get linked correctly.

[2016-09-01 01:43] Feneric commented on #14
That is pretty odd. Is that from the Python 2 or 3 version?

[2017-01-16 07:49] leamas opened #35 "Hardcoded python version in script shebang"
The first line of the doxypypy.py script is

    #!/usr/bin/env python

This creates a dependency on whatever python version 'python' refers to. Which in turn leads to non-obvious parser crashes when using python3 code if the system python version is 2.x

Possible fix is to remove the shebang and ujpdate instructions to use 'python doxypypy.py' instead (or an explicit python3).

Other work-arounds

[2017-01-25 10:39] OskarPersson opened #36 "Examples gets nested in the exceptions section"
Using the example given in the README, the examples isn't generated in its own section but instead nested in the `exceptions` section.

![skarmavbild 2017-01-25 kl 11 38 30](https://cloud.githubusercontent.com/assets/935414/22287356/db8fbe68-e2f2-11e6-928d-4b7a49559425.png)

[2017-01-26 14:38] Feneric commented on #35
Usually I think that's what people want. If they choose to use a different version of Python, they already can do the '/my/special/python doxypypy.py' instead and it'll run using that specific Python version; there's no need to force everyone to type the extra characters. In fact that's how we test against both Python 2 & Python 3.

[2017-01-26 14:39] Feneric commented on #36
That looks like a regression that'll need to be looked at.

[2017-01-26 16:04] leamas commented on #35
It your show. But a default python2 interpreter combined with developing python3 code is certainly not an edge case. In the uncertainty created by a new tool  this took me quite some time, and I guess more than me will run into it

As usual, in hindsight it's obvious. But that's hindsight...

[2017-01-26 16:12] Feneric commented on #35
That's fair; at minimum the docs should point it out more. Probably they should also explicitly cover its usage within a virtualenv. AFAICT the majority of doxypypy users are in Python 2 land, and I wouldn't be at all surprised if this is even somewhat related to the reasons why most distros are still using Python 2 for their default system Python.

[2017-02-14 13:04] Carbaz opened #38 "Local variable 'firstVarLine' referenced before assignment. (Solution proposal inside)"
I got the following exception while running on doxywizard: (I truncated it to the relevant point)

[code]

I found looking to your code on the repository that in line 471 yo checks over the firstVarLine variable which may have not been assigned if the previous for loop iterates 0 times.

Maybe extending that _if_ condition with _(lastVarLineNum > 0)_ would the problem be solved.
(Not checked the f

[2017-02-15 02:14] Feneric commented on #38
Good catch. I'll take a look.

[2017-02-17 23:57] #12 closed

[2017-07-18 20:38] asinha94 opened #40 "Exception on Windows 10"
I am running doxypypy on Windows 10 and ran into the following exception.  This seems to happen between reading and parsing a file which doesnt contain any docstrings or doxygen comments. I can't really share anything more as I work on a confidential project. I've gone through the files listed in the stacktrace below but can't seem to figure out why this would be the case.
[code]

[2017-07-18 20:39] asinha94 commented on #40
This might also explain why the doxypypy docstrings in a few other functions are not picked up

[2017-07-21 18:58] Feneric commented on #40
I don't have easy access to Windows 10, but getting an exception like that would definitely explain why some of the functions aren't getting picked up. Have you been able to reproduce it in any other environment? On a Win10 box you ought to be able to run doxypypy & Doxygen in either the Windows Bash Shell or Cygwin in addition to native, and doing so may provide some insight into what's happening

[2017-08-21 20:09] EmoBurrito commented on #33
If it is any consolation, you can do:
[code]

[2017-10-08 04:01] Hibou57 commented on #33
I ended to do something else:

    ## Brief text here
    ## @namespace package_name.module_name

While `doxypypy` generates something like this instead:

    ## @brief  Brief text here

To the OP: using `@package` is not good, since it is cumulative and applies to all modules of a package. A Python module is treated as a namespace for Doxygen, at least if you choose `OPTIMIZE_OUTPUT_JAVA`, which

[2017-10-08 04:06] Hibou57 commented on #33
Oh, I just got a better and clean way!

Just put something like this right after the module’s docstring:

    ## @namespace midi.channel_events

That’s enough. So `doxypypy` may just have to be tweaked to generate it automatically. I will try to find a way to it when I will have time.

[2017-10-15 10:29] Hibou57 opened #45 "Documentation after a member"
Thatt’s not really a bug, rather a proposal.

For C/C++, Doxygen supports documentation after a member, like this:

    int foo = 0; /**< More on `foo`. */

Unfortunately, it seems Doxygen does not support it for Python. This, does not work:

    FOO = 0  ##< More on `FOO`.

May be there is a way to tweak Doxypypy so that it turns the above into something like this:

    ## More on `FOO`.
    FOO

[2017-10-15 19:34] Hibou57 commented on #33
More on the above:

This works:

    ## @namespace foo.bar
    """ Quickly about `foo.bar`

    More …

    """

But this does not work:

    ## @namespace foo.bar

    """ Quickly about `foo.bar`

    More …

    """

If the `@namespace` special command comes before the `@brief` comment block (what Doxypypy turns the docstring into), then there must not be any empty lines between the two. I don’t

[2017-11-19 02:57] robottwo commented on #33
+1 for this issue -- doxypypy should definitely automatically add the namespace to the module-level pydoc.

[2017-12-06 19:29] dcg-csc opened #47 "README.rst points to broken Google Python Style Guide URL"
Updated location seems to be:

https://google.github.io/styleguide/pyguide.html?showone=Comments#Comments

[2017-12-18 18:20] Feneric commented on #47
Thanks, it's now fixed.

[2017-12-18 18:20] #47 closed

[2018-01-10 10:06] wohauser opened #50 "Parameters start with error are processed as code block."
We have following docstring:
---
"""
        Wrapper for @ref wait_until_state_reached, for cases when the intended call is for that marker to be reached

        Args:
            marker_extensions (dict): Extra content for the marker

            marker_name (str) : Identifier of the marker.

            name (str):  Key of marker content. If empty string, then the content will be an empty dict

[2018-01-19 00:46] kaimast opened #51 "How do I use doxypypy on shared objects?"
I have written python bindings in C++ using boost::python which generates a shared object.

It looks like doxypypy wants a python source file as an input. Is there any way to give it a shared object?

Thanks!

[2018-03-06 11:45] cfrings opened #52 "Importing 'linesep' from 'os' leeds to every other line being blank in Windows"
See: [https://stackoverflow.com/questions/21636213/why-you-shouldnt-use-os-linesep-when-editing-on-text-mode](https://stackoverflow.com/questions/21636213/why-you-shouldnt-use-os-linesep-when-editing-on-text-mode)

This then breaks doxygen's comment parsing.

Defining `linesep` as `\n` works.

[2018-03-06 13:52] cfrings commented on #25
Version 0.8.8.6 is the latest available version on PyPÏ, hence problem is still present (and annoying) in production version.

[2018-03-06 14:36] cfrings opened #53 "Unicode: encoding detection doesn't work"
The solution proposed for issue #25 does not, in fact, accurately detect file format when BOM is absent.

If the 32 first characters are pure ASCII, then 'ascii' encoding is "detected". When other characters are present, *an* encoding compatible with that character is chosen, but it needs not be the correct one.

For instance, with character `é` present in the first line, I get encoding 'cp-1252'

[2018-03-06 14:52] cfrings opened #54 "Unicode: charmap error for unicode characters when used in doxygen"
In Windows, non-ascii unicode characters raise

    UnicodeEncodeError: 'charmap' codec can't encode characters in position 8257-8259: character maps to

Finding inspiration here: [https://stackoverflow.com/a/30673656](https://stackoverflow.com/a/30673656), I've replaced

    print(astWalker.getLines())

with

    import sys, io
    default_out = io.TextIOWrapper(sys.stdout.buffer, encoding='utf-8

[2018-03-06 15:53] cfrings opened #55 "Starting docstring starting with "<word>:" raises error"
When processing following file:
[code]
I get an error:

[code]

If `Arguments` is replaced with another, non-significant, word (e.g. `Lemon`), another error is raised:

[code]
Errors disappear if `:` is removed from the first line.

[2018-05-26 18:06] EEsDoNotItNow opened #57 "Asyncio functions not parsed"
## Bug
Coroutines (functions with the prefix async), as introduced by the [asyncio module](https://docs.python.org/3/library/asyncio.html#module-asyncio), are not parsed.

## Test Version

Python 3.6.4 using pipenv to manage a virtual environment.
doxypypy==0.8.8.6, as installed by pipenv with `pipenv install doxypypy`
Failure can be reproduced without the need for Doxygen.

## Reproduction

- Mod

[2018-06-14 02:44] evandrocoan opened #58 "Missing documentation for __str__(), __init__(), etc"
These python special methods are missing from my documentation now I used this project.

They are showed as with missing documentation.

I got to revert back to the standard doxygen which included then correctly.

[2018-08-21 12:34] ochurlaud commented on #14
@Feneric Just worked again with doxypypy, with Python 3.7. Still the same issue...

[2018-08-21 13:41] ochurlaud commented on #23
@Feneric I see that the topic is quite dead but I'll revive it  little:

Is there a way to document public attributes in doxypypy?

[2018-08-22 19:06] sovetov commented on #33
I vote for this too. Absolutely necessary.

[2018-12-27 21:32] noMICROSOFTbuhtz opened #59 "Support contact"
Sorry for asking via GitHub Issues what is IMO only a tracker for bugs and feature requests. I could not find any contact to ask questions about doxypypy.

I know the this way to add informations about data type of function parameters in the doc string.
[code]

Doxygen and/or doxypypy does ignore this information in my case. Is this the correct behaviour or do I make something wrong?

[2018-12-27 22:07] noMICROSOFTbuhtz opened #60 "Ignores paramters with empty description"
def foobar(a, b, c):
    """ Description

    Args:
        a:
        b:
        c: Description
    """

In that case only `c` is shown as a parameter (under sub-headline ''Parameters'').

One "usecase" of API documentation for me is to see which functions/methods/classes/paramters are there but doesn't have documentation.

[2019-05-02 00:31] burgerbecky commented on #52
I've tested this, changing linesep to \n works on Linux, Mac and Windows.

[2019-05-02 00:46] burgerbecky commented on #52
I've created a Pull Request on this issue, since I have the same problem.

[2019-06-11 17:17] JiriValasek commented on #38
Hi, I got the same exception while running doxywizard:

`
Reading C:/Program Files/FreeCAD 0.18/Mod/Animate/InitGui.py...
Traceback (most recent call last):
  File "C:\Program Files\Python36\lib\runpy.py", line 193, in _run_module_as_main
    "__main__", mod_spec)
  File "C:\Program Files\Python36\lib\runpy.py", line 85, in _run_code
    exec(code, run_globals)
  File "C:\Program Files\Python36\li

[2019-07-21 02:53] vocx-fc commented on #38
Hi, has anything been done about this? It seems this bug has been open for a while. I want to use doxypypy to process the documentation of [FreeCAD](https://github.com/FreeCAD/FreeCAD/tree/master/src/Mod/Draft). Some Python code is badly formatted and that seems to cause errors with doxypypy; it's ultimately FreeCAD's fault, although it would be nice if doxypypy didn't error out.

In particular a

[2019-07-22 08:24] magwas opened #63 "decorators?"
I am extensively using decorators on classes, and looking for a solution to generate xml from code referencing those as well. Although the readme mentions decorators, I don't see them in the resulting documentation (either xml or html).
What did I miss?

In case of the following code:
[code]

I would like to be able to
 - find the @Service annotation in relation of the class name
 - for both the m

[2019-07-24 02:28] Feneric commented on #38
I remember starting to look into this but then I got sidetracked and didn't get back to it. If I'm lucky I may have a chance to look into it this weekend.

[2019-07-31 02:59] vocx-fc opened #64 "Support for numpy docstrings"
It seems that `doxypypy` can parse the Google docstring style well. What about `numpy` style? I think this style should also be recognized as it's one of the most common styles, used by many in the scientific community.

* [Example NumPy Style Python Docstrings](https://sphinxcontrib-napoleon.readthedocs.io/en/latest/example_numpy.html)
* [Example Google Style Python Docstrings](https://sphinxcont

[2019-08-05 07:07] magwas opened #65 "How to test?"
Where are the instructions/code on how to test?
I have seen no mention of it in the README, no CODING file, setup.py does not seem to contain anything related, no .travis.yml, shippable.yml, Makefile, or anything like that.
Running unittest with discovery fails.
Running `PYTHONPATH=. ./doxypypy/test/test_doxypypy.py` fails a lot of tests with `AttributeError: 'Options' object has no attribute 'obj

[2019-08-28 17:01] magwas commented on #63
I have written a package to attack the problem you can pip3 install astinxml.
https://github.com/kode-konveyor/astinxml/

[2019-08-28 17:01] #63 closed

[2019-08-28 17:02] magwas commented on #65
dropped doxypypy from my toolchain.

[2019-08-28 17:02] #65 closed

[2019-09-08 14:32] Feneric commented on #65
They're ordinary Python unit tests. They should be runnable via direct call or as a module. Modernizing the testing is pretty high up on my list of what I'd personally like to see for doxypypy.

I'm sorry it didn't work out for you.

[2019-09-08 14:37] Feneric commented on #64
I've never personally tried. I've been told at least one other person has had limited success with it.

Patches (with tests) would certainly be welcome! There is nothing preventing doxypypy from incorporating the functionality and there is no anti-NumPy sentiment at play here. It's just that there has not yet been enough interest from devs to make it happen.

[2019-09-08 16:08] vocx-fc commented on #64
Thank you for the reply.

I hope I don't sound too demanding. Since you know the code well maybe it's easier for you to add this support with the examples that I provide above. I could try to do it, but that would take me a long time because I would need to understand how `doxypypy` works. I'm not familiar with "Python's own abstract syntax tree walker".

[2019-09-12 15:01] fa-vio opened #66 "Needed a workaround to handle function decorators"
Hello,
I am using function decorators in my code, which get misinterpreted by Doxygen. For example, a SocketIO decorator with a namespace:

[code]

is recognized as a namespace itself, and the docstring is not associated to the function.
I tried to add ad-hoc aliases to the Doxyfile so that it gets ignored by Doxygen's parser, without success. Any suggestions?

[2019-09-19 13:06] fa-vio commented on #66
Should anyone ever have the same issue, a workaround I've been using is to discard decorators from the "intermediate" source file generated by doxypypy, before it gets processed by Doxygen.
To do so, just filter doxypypy's output through `sed` in your filter script, like

[code]

This trick does the job.

[2019-09-19 13:06] #66 closed

[2019-10-03 15:57] grbd opened #67 "Multiple lines for attributes"
Hi,
This might be related to https://github.com/Feneric/doxypypy/pull/42
but do we know if there's a way to handle attributes with multiple lines?
such as the below

[code]

[2019-10-03 17:05] grbd commented on #67
Okay one way around this is to use

[code]

[2019-10-04 11:21] grbd opened #68 "Option for leaving the function parameter types empty for use with Breathe?"
Hi,
I've recently setup a python project, for the docs I'm using

python code -> Doxygen -> (filtered via doxypypy) -> Breathe -> Sphinx Docs

This all seems to work fine, however the types of function parameters are set to the same as the name in the XML output from Doxygen
What this leads to in the eventual html output is something like
[code]
An example here

  * https://hecatron.github.io/py-m

[2019-10-07 00:26] grbd commented on #68
For anyone else, I created a small script just to filter the types in the xml after the fact which seems to work quite well

https://github.com/Hecatron/py-makefile-dbparse/blob/master/docs/doxygen/filter_types.py

[2019-10-17 14:57] tfelden opened #69 "private variables in class could not documented"
I am using doxygen 1.8.15 to document Python scripts.
In the __init__ method of my class I would like to document my variable this way:
        ## @var Array of Hashes $__vms
        # This is a complex structure having this details ... (long text)
        __vms = None
        ...
After processed by doxypypy this was the result:
        ## @var Array of Hashes $__vms
        # This is a complex st

[2019-12-27 08:19] svigerske opened #70 "NodeVisitor:visit_Constant() argument containingNodes unexpected keyword (python 3.8)"
I did an update to Python 3.8.1 and cannot run doxypypy anymore.
With the current master, I get:
[code]
Looks like the function `visit_Constant()` was just recently added (https://github.com/python/cpython/commit/522a394a72f107ca55701371529b5e4ed20c9fff#diff-2cbfaa4a57fa843e2535720e9adaea77).

[2020-01-12 08:35] nhasbun commented on #19
Any news on this or workaround?

Currently this is the main issue I'm having with doxypypy.

[2020-02-07 13:50] fer-rum commented on #70
I wonder if this could be triaged by just adding a dummy, that takes the additional argument.

[2020-02-07 13:54] svigerske commented on #70
I worked around it by adding
[code]
But the other `visit_*` functions do so much more so that I wonder whether calling only the function from the upper class will be sufficient. (I have no idea about the functionality of this code.)

[2020-02-07 14:07] fer-rum commented on #70
Thank you for sharing :)

I think it would be worth a pull request and if only to direct attention to the issue and maybe provide a starting point for a complete fix.

[2020-03-14 10:29] 625781186 opened #72 "Is this library still ok?"
I test eric6 library's files , It was originally commented like this :
![image](https://user-images.githubusercontent.com/30521429/76680134-19248880-6621-11ea-9e0f-3113e8e4a5ca.png)

The result of I use doxypypy conversion looks like this :
![image](https://user-images.githubusercontent.com/30521429/76680189-8fc18600-6621-11ea-87a4-285ad911a5af.png)

The result is that doxygen does not recognize c

[2020-03-18 03:38] 625781186 opened #73 "[Bug]"
![image](https://user-images.githubusercontent.com/30521429/76922527-f12c7200-690b-11ea-9e61-843f2965bd56.png)

So , if use config `FILTER_PATTERNS        = *.py=py_filter` , `INLINE_SOURCES` line will  dislocation.

like this :
1. not use filter , right :
![image](https://user-images.githubusercontent.com/30521429/76922877-e58d7b00-690c-11ea-9063-6eea0c798aa4.png)

1. use filter , error :
![image

[2020-03-18 03:58] 625781186 commented on #73
https://github.com/Feneric/doxypypy/issues/30

[2020-03-18 03:58] 625781186 commented on #73
https://github.com/Feneric/doxypypy/issues/30#issue-163571865

[2020-03-30 15:04] athola opened #74 "[Bug] Doxygen output BrokenPipeError: [Errorno 32] Broken pipe"
When enabling FILTER_SOURCE_FILES tag in Doxyfile.cfg, output to command line after running:

[code]

causes an output to command line intermittently the following:

[code]

While searching around on the web for this, I found this error popped up in mypy as well, specifically address in [this issue](https://github.com/python/mypy/issues/2893)

See this comment by user *pkch*:

[code]

[2020-04-10 02:45] athola commented on #74
Hey all, I found a temporary workaround for this on Linux. Change the line in `py_filter` to the following:

[code]

[2020-05-16 13:45] silvester747 commented on #19
As a workaround I am currently using this as filter:

[code]

[2020-06-11 12:08] alexander-dammeier commented on #70
Will the pull request be merged into a new release? We had the same problem in one of our projects.

[2020-06-14 16:10] Feneric commented on #70
Generally I try to merge pull requests that don't break existing tests and cover all new functionality with new tests pretty quickly (with the understanding that I typically only get to review things some weeknights and most weekends).

[2020-06-14 16:23] Feneric commented on #73
I don't know that there ever can be a fix for this without Doxygen becoming a bit more flexible in this regard to better accommodate languages in which whitespace is significant. It isn't always possible to reshape things for such languages without actually changing line count. I imagine a filter for the language Nim would have the same problem.

If Doxygen were to provide hooks for labeling ancho

[2020-08-13 10:06] alexdewar commented on #70
Hello! I'm still getting this issue. Is there any chance of merging this PR? Would really help me out :smiley:

[2020-08-27 13:45] AokiAhishatsu commented on #70
+1

[2020-12-14 17:28] frodon1 opened #75 "Consider use argparse instead of optparse"
The optparse module is deprecated since version 3.2.
Switching to the argparse module is recommended.

[2020-12-17 07:44] schperplata commented on #40
I'm experiencing the same issue. Since the thread is relatively old, did anyone found a solution/reason for this to happen?

[2020-12-29 20:07] jeffdgithub commented on #40
This bug is also present under Windows 7, Python 3.7
C:\EDG\Blog\jeffd\Python\modules\p1>doxypypy -a -c -d p1.py
# Module p1
Traceback (most recent call last):
  File "C:\Python37\Scripts\doxypypy-script.py", line 11, in <module>
    load_entry_point('doxypypy==0.8.8.6', 'console_scripts', 'doxypypy')()
  File "c:\python37\lib\site-packages\doxypypy\doxypypy.py", line 830, in main
    astWalker.pa

[2020-12-29 20:10] jeffdgithub commented on #40
Problem also exists under Lubuntu 18.04, Python 3.6
/EDG/Blog/jeffd/Python/modules/p1$ doxypypy -a -c p1.py
Traceback (most recent call last):
  File "/home/jeffd/.local/bin/doxypypy", line 11, in <module>
    sys.exit(main())
  File "/home/jeffd/.local/lib/python3.6/site-packages/doxypypy/doxypypy.py", line 830, in main
    astWalker.parseLines()
  File "/home/jeffd/.local/lib/python3.6/site-pack

[2021-02-15 13:30] IceTDrinker commented on #70
Is the project still maintaned ? Last update looks ancient

[2021-02-27 18:46] Feneric commented on #70
Sure, it's maintained, but it's also pretty stable and already working for a lot of people and I'm hesitant to commit changes that don't have any tests backing them up. It's not my day job and requests can only be serviced when I'm free, and if I have to write tests for changes to it myself I have to commit a lot more time up front.

[2021-03-01 08:11] IceTDrinker commented on #70
Sounds fair, existing tests seem to be failing on my computer though (python 3.8). Which version of python are supposed to be supported ?

[2021-03-19 15:57] dcdolson commented on #70
For what it's worth, I got this issue the first time I tried doxypypy, on the first module I tried it on. It does not seem like an obscure corner case, rather seems to make this tool unusable.

[2021-04-03 20:31] #75 closed

[2021-04-03 20:35] #18 closed

[2021-04-14 20:17] dcdolson commented on #70
This seems to be working better when pulling and building from source. The dockerhub image I was using had an out-of-date version.

[2021-04-15 05:55] dcdolson opened #78 "IndexError: list index out of range -- if NOTE: lines are not separated by a blank line."
I found this could happen if there are two NOTE: or similar keyword on adjacent lines.
[code]
E.g., if in a docstring
[code]
@Feneric this helped me: https://github.com/dcdolson/doxypypy/commit/6071fc63eb13c1c7ced0efbf7912df2df465f2c1

Let me know if you want me to fix it in any way before creating a pull request.

[2021-04-15 05:59] dcdolson commented on #78
back-trace looks similar to #40

[2021-04-29 21:29] dcdolson commented on #78
I created PR #79 to address this.

[2021-05-26 08:54] BeastyBlacksmith opened #80 "unexpected keyword argument"
Trying doxypypy on [this file](https://github.com/SoftmatterLMU-RaedlerGroup/pyama/blob/devel/src/pyama/stack/base.py) got me the following error
[code]

[2021-05-26 12:42] FreshMax9000 commented on #80
I got this error too and I dont know why. NodeVisitor method visit_Constant() of ast.py of CPython assumes that a constant has no containing Nodes. Therefore an error is raised when trying to call it with containing Nodes. Heres a quick workaround for the visit() method of doxypypys AstWalker:

`    def visit(self, node, **kwargs):
        """
        Visit a node and extract useful information fr

[2021-06-14 14:17] rynkk commented on #80
This was already fixed in c0e95e4c3ecec10da9de00adae0d77bc52f3933f , 4 months ago.
The doxypypy version on PyPi seems to be outdated. If you install the package via pip install git+"thisrepo" it works fine.

[2021-06-14 14:19] rynkk opened #81 "Update package on PyPi"
The package distributed by PyPi seems to be outdated. The current version is from May 23, 2015.
Important fixes like c0e95e4c3ecec10da9de00adae0d77bc52f3933f are not included there.

It might be sensible to bump the version number and update the package on PyPi.

[2021-07-05 20:31] Feneric commented on #81
I'd like to try and work in a few more of the fixes that have been provided first, but they all have their own issues / lack tests / etc. and I've not had the time to address them. Any help is appreciated, but we are trying to ensure that doxypypy is pretty well tested and that features have associated tests.

[2021-08-24 15:19] esaule commented on #70
BTW, I see have a similar issue. I upgraded to debian 11 today and updated doxypypy. I get this error:

[code]

[2021-12-05 15:41] Feneric commented on #57
Fixed.

[2021-12-05 15:41] #57 closed

[2021-12-05 15:46] Feneric commented on #80
Yeah, a few of the listed bugs here are fixed in the current version. I'm hoping to get a new version ready for PyPi in the near future, but am trying to get a few things resolved first.

[2021-12-05 15:46] #80 closed

[2021-12-05 15:48] Feneric commented on #81
I'm looking to do so in the near future. I was trying to get a few fixes in / few pull requests in first, but unfortunately most are just me (in the former case) and just me providing tests (in the latter case) so it'll be when I can do it. Fixes with tests are hugely appreciated!

[2021-12-05 15:53] Feneric commented on #52
Fixed.

[2021-12-05 15:53] #52 closed

[2021-12-05 15:57] Feneric commented on #70
All 3.8 problems should now be fixed.

[2021-12-05 15:57] #70 closed

[2021-12-10 09:46] wimcoelus opened #83 "Offset in line numbers"
We use doxypypy with ubuntu 20.04 and windows 10 python version >3.8 or greater.
We install the module using pip3 git because of an error when using the pip version.
When using
```FILTER_PATTERNS        = *.py=py_filter```
and configuring code browsing options in Doxygen we notice an offset in the line numbers off the code block. As in the codeblocks starts halfway the function and shows lines fro

[2022-02-08 22:47] panicgh opened #84 "`r"""` (and other string prefixes) removed from the end of docstrings"
# Description
doxypypy produces a wrong result if a doctstring **ends** with a typical [string prefix](https://docs.python.org/3/reference/lexical_analysis.html#string-and-bytes-literals) for example `r"""`:

Input:
[code]

Output, note doxypypy ate the `r`:
[code]

Testing other [string prefixes](https://docs.python.org/3/reference/lexical_analysis.html#string-and-bytes-literals). Affected: `r` `

[2022-02-10 21:05] sWahlinRhoades opened #85 "TypeError: visit_Constant() got an unexpected keyword argument 'containingNodes' still present"
Hi, I just installed the new version of doxypypy using pip (0.8.8.6) And I am still getting the error reported when I attempt to run doxypypy using python 3.8.12,

I noticed in issue #70 this is marked as resolved. Has this resolved release just not made it out of the repository yet?
 @Feneric

[code]

[2022-02-19 20:26] Feneric commented on #85
Yes, what's checked in to the repository is ahead of the official release. There are a few more things that'll hopefully get fixed before the next release is cut.

[2022-02-23 18:08] the-moog opened #86 "Question about file level (not module level) docs"
I've played about with various comment styles at the start of the file but everything I try appears in the 'Namespace' documentation.

I would like at least the module brief, author and copyright message to appear.

Currently it lists the classes and namespaces the file implements.

Is this to do with the template or doxypypy?

[2022-03-07 09:07] Codeberg-AsGithubAlternative-buhtz opened #88 "doxypypy still relevant with Doxygen 1.9.*"
I was migrating my Doxygen 1.8 to Doxygen 1.9.1 (Debian stable). Upstream is at 1.9.4 by the way.

I found that there is a "new" option in the generated Doxyfile.
[code]

I do not understand the details and internals of how Doxygen and doxypypy interact with each other. But does this option indicates that the need to use doxypypy is gone because Doxygen now handels Python code by itself the proper

[2022-03-10 14:38] Codeberg-AsGithubAlternative-buhtz opened #89 "How to specify the type of an argument?"
Hello,

referencing your example code in the README.md I ask myself if there is a way to specify the type of an argument. E.g. something like this

[code]

But it does not work. The `(int)` and `(string)` does not appear in the HTML output.

[2022-03-13 09:18] suurjaak commented on #85
Any chance of getting an official PyPi release any time soon? The current version there is 7 years old already, and this error in newer Pythons makes doxypypy very difficult to use.

[2022-04-05 09:22] gabrielreale commented on #85
I am also experiencing this issue. Waiting for the new PyPi release to try it as it seems to be a very useful tool.

[2022-04-07 20:01] Codeberg-AsGithubAlternative-buhtz commented on #35
I think 5 years later the situation is clear. Remove Python2 support and close this Issue. ;)

Btw: I do not see why I should run doxypypy as a standalone script? So why does I need a shebang in it? Can you give a use-case for this?

I use doxypypy via the py_filter.py script configured to Doxygen.

[2022-04-07 20:04] Codeberg-AsGithubAlternative-buhtz opened #90 "Provide version information the usual way"
Only `setup.py` has version information.

There should be a `__version__` variable in `__init__.py`.

#81

[2022-04-07 20:06] Codeberg-AsGithubAlternative-buhtz opened #91 "DOC: Improve README.md example"
There is example code in README.md.
https://github.com/Feneric/doxypypy#example

I would like to know how this code looks like *after* it was processed by doxypypy. Where is the difference. It would help users to understand what doxypypy really does.

[2022-04-09 15:16] Codeberg-AsGithubAlternative-buhtz commented on #13
What is the status of that Issue?
With current upstream doxygen I got the same error with Python code.
https://github.com/doxygen/doxygen/issues/9259

[2022-04-19 18:51] Codeberg-AsGithubAlternative-buhtz commented on #13
The analysis in the [Issue at Doxygen](https://github.com/doxygen/doxygen/issues/9259) pointed out that this problem is related to DoxyPyPy and not to Doxygen.

There is also a example code and comparison between Doxygen-only and Doxygen-plus-pyfilter output.

[2022-07-20 00:12] grbd commented on #85
I recently tried a `pip install git+https://github.com/Feneric/doxypypy`
but the same error popped up, so if there is a fix it's not in the current source I think.

Looking here though I'm not sure if this obsolete's doxypypy unless doxypypy is still doing other things to fix up the python doxygen output https://github.com/Feneric/doxypypy/issues/88

[2022-07-25 01:02] NekiMedo opened #93 "TypeError: unexpected keyword argument 'containingNodes'"
Throws TypeError exception;
`Python 3.10.5` on Debian bookworm
[code]

[2022-09-28 06:57] AjeyDikshit commented on #93
I was facing the same issue, while i was using doxypypy from the PyPi (pip install doxypypy), try to uninstall the previous version and re install it using "pip install git+https://github.com/Feneric/doxypypy". This fixed the issue for me.

[2022-10-11 04:28] mbusy commented on #93
@AjeyDikshit Thanks, your solution worked for me! I see that the last PyPi release dates back to 2015, is a new release planned?

[2022-11-17 12:11] JoaoPedroMDP commented on #85
I had this same issue here. Python 3.10.
`TypeError: NodeVisitor.visit_Constant() got an unexpected keyword argument 'containingNodes'`

[2022-11-21 06:41] MuellerSeb commented on #88
It is relevant if you still want to have google docstring style in your python module. Otherwise you need to use the doxygen commands to indicate parameters etc.

[2022-11-21 06:43] MuellerSeb commented on #64
I guess the simplest way to do so is to involve [pyment](https://github.com/dadadel/pyment) in the `py_filter` script.
You create a temporary file, where the numpy docstrings style is converted to google docstring style and the apply doxypypy to the temporary file.